.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    z-index: 1;
  }
  .brand-name {
    padding-left: 10px;
        flex-shrink: 0;
        width: auto; /* 141px */
        height: 32px;
        white-space: pre;
        overflow: hidden;
        position: relative;
        font-weight: 700;
        font-style: normal;
        font-family: "Inter", "Inter Placeholder", sans-serif;
        color: whitesmoke;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 2;
        text-align: center;
      }
  
  .navigation-menu {
    margin-left: auto;
  }


  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: inherit;
    margin-right: 1rem; /* Adjust the spacing as desired */
        flex-shrink: 0;
        width: auto; /* 69px */
        height: auto; /* 26px */
        white-space: pre;
        overflow: visible;
        position: relative;
        font-weight: 500;
        font-style: normal;
        font-family: "Inter", sans-serif;
        color: #666666;
        font-size: 16px;
        letter-spacing: 0em;
        line-height: 1.6;
        text-align: left;
      }



 